torch
torchvision
timm
safetensors
numpy
opencv-python
tqdm
setuptools
onnx
onnxruntime-directml
diffusers
transformers
accelerate
peft
av
Pillow
PIMS
easydict
imageio
matplotlib
einops
kornia
huggingface-hub
typer
rich